<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Image Uploader</title>
    <style>
        .card{
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="container bg-danger">
        <h2 class="text-center text-white">Image Uploader</h2><br>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file" class="form-control" required><br>
            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
    <div class="container">
        <div class="row">
            {% for i in show %}
            {% if i.photo.url != Null %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{i.photo.url}}"  class="img-fluid">
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>